<div class="carousel">
	<div class="c-header c-header--archive c-header--project-list">
		<div class="c-mouse-vertical-carousel js-carousel u-media-wrapper u-media-wrapper--16-9">
			<ul class="c-mouse-vertical-carousel__list js-carousel-list">
				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="0">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        01
                    </span> Swizterland
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Matterhorn
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="1">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        02
                    </span> Iceland
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Kirkjufell
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="2">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        03
                    </span> Kashmir
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Pir Panjal
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="3">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        04
                    </span> Japan
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Mount Fuji
						</p>
					</a>
				</li>

				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="4">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        05
                    </span> Kashmir
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Twin Lakes
						</p>
					</a>
				</li>
				
				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="5">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        06
                    </span> Nepal
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							Everest Base Camp
						</p>
					</a>
				</li>
				
				<li class="c-mouse-vertical-carousel__list-item js-carousel-list-item" data-item-id="6">
					<a href="">
						<p class="c-mouse-vertical-carousel__eyebrow u-b4">
							<span>
                        07
                    </span> Kashmir
						</p>

						<p class="c-mouse-vertical-carousel__title u-a5">
							The Himalayas
						</p>
					</a>
				</li>
			</ul>
		
			
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://assets3.thrillist.com/v1/image/1679626/1584x1054/crop;jpeg_quality=60.jpg')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://assets3.thrillist.com/v1/image/1679629/1584x1054/crop;jpeg_quality=60.jpg')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://images.unsplash.com/photo-1545652985-5edd365b12eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://images.unsplash.com/photo-1606918801925-e2c914c4b503?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://i.ytimg.com/vi/UWAlDuyRbec/maxresdefault.jpg')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://images.unsplash.com/flagged/photo-1549874569-1b6fec7ff642?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80')"></i>
			<i class="c-mouse-vertical-carousel__bg-img js-carousel-bg-img" style="background-image: url('https://images.unsplash.com/photo-1524384121198-81e94dec2d08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')"></i>
			<i class="c-gradient-overlay"></i>

		
	</div>
</div>