{% extends 'base.html' %}
{% load static %}
{% block content %}
        {% include 'partials/_navbar.html' %}
        <div class="hero">
            <div class="hero_heading">
                <h1>The Mountains are Calling</h1>
            </div>
            <div class="hero_image">
                <img src="{% static 'images/hero.png' %}" alt="">
            </div>
        </div>
        <section class='expeditions'>
            <h2 class='headings'>Expeditions</h2>
        </section>
        {% include 'partials/_carousel.html' %}

{% endblock content %}

